body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    background-color: black;
    color: white;
    text-align: left;
    padding: 20px;
    display: flex;
    align-items: center;
}

#header h1 {
    margin-right: 20px;
}

.clickable {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 0.8em;
    cursor: pointer;
}

.clickable:hover {
    font-weight: bold;
}

.background {
    position: relative;
    min-height: 100vh;
    /* Full viewport height for each image */
    width: 100%;
    background-size: cover;
    background-position: center;
}

#background1 {
    background-image: url('whitehat.jpg');
}

#background2 {
    background-image: url('blackhat.jpg');
}
